USE [HBS]
GO
/****** Object:  Table [dbo].[APPOINTMENT]    Script Date: 12-04-2017 2:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[APPOINTMENT](
	[APPOINTMENT_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[PATIENT_ID] [numeric](10, 0) NOT NULL,
	[DOCTOR_ID] [numeric](10, 0) NOT NULL,
	[APPOINTMENT_DATE] [date] NOT NULL,
	[APPOINTMENT_TIME] [varchar](10) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[CREATED_BY] [numeric](10, 0) NOT NULL,
	[DATE_MODIFIED] [datetime] NULL,
	[MODIFIED_BY] [numeric](10, 0) NULL,
 CONSTRAINT [PK_APPT_ID_APPOINTMENT] PRIMARY KEY CLUSTERED 
(
	[APPOINTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 12-04-2017 2:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[DOCTOR_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](20) NOT NULL,
	[LASTNAME] [varchar](20) NOT NULL,
	[ADDRESS_LINE_1] [varchar](25) NOT NULL,
	[ADDRESS_LINE_2] [varchar](25) NULL,
	[CITY] [varchar](20) NOT NULL,
	[PROVIENCE_ID] [numeric](10, 0) NOT NULL,
	[POSTAL_CODE] [varchar](7) NOT NULL,
	[EMAIL] [varchar](25) NOT NULL,
	[CONTACT_NO] [varchar](12) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[CREATED_BY] [numeric](10, 0) NOT NULL,
	[DATE_MODIFIED] [datetime] NULL,
	[MODIFIED_BY] [numeric](10, 0) NULL,
 CONSTRAINT [PK_DOCTOR_ID_DOCTOR] PRIMARY KEY CLUSTERED 
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 12-04-2017 2:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGIN](
	[LOGIN_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](20) NULL,
	[PASSWORD] [varchar](20) NOT NULL,
 CONSTRAINT [PK_LOGIN_ID_LOGIN] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PATIENT]    Script Date: 12-04-2017 2:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PATIENT](
	[PATIENT_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](20) NOT NULL,
	[LASTNAME] [varchar](20) NOT NULL,
	[ADDRESS_LINE_1] [varchar](25) NOT NULL,
	[ADDRESS_LINE_2] [varchar](25) NULL,
	[CITY] [varchar](20) NOT NULL,
	[PROVIENCE_ID] [numeric](10, 0) NOT NULL,
	[POSTAL_CODE] [varchar](7) NOT NULL,
	[DOB] [date] NOT NULL,
	[EMAIL] [varchar](25) NOT NULL,
	[CONTACT_NO] [varchar](12) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[CREATED_BY] [numeric](10, 0) NOT NULL,
	[DATE_MODIFIED] [datetime] NULL,
	[MODIFIED_BY] [numeric](10, 0) NULL,
 CONSTRAINT [PK_PATIENT_ID_PATIENT] PRIMARY KEY CLUSTERED 
(
	[PATIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PATIENT_HISTORY]    Script Date: 12-04-2017 2:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PATIENT_HISTORY](
	[PATIENT_HISTORY_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[PATIENT_ID] [numeric](10, 0) NOT NULL,
	[APPOINTMENT_ID] [numeric](10, 0) NOT NULL,
	[DOCTOR_ID] [numeric](10, 0) NOT NULL,
	[PROCEDURE_ID] [numeric](10, 0) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[CREATED_BY] [numeric](10, 0) NOT NULL,
	[DATE_MODIFIED] [datetime] NULL,
	[MODIFIED_BY] [numeric](10, 0) NULL,
	[PAID] [varchar](1) NULL DEFAULT ('N'),
 CONSTRAINT [PK_PH_ID_PATIENT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[PATIENT_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROCEDURE_INFO]    Script Date: 12-04-2017 2:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROCEDURE_INFO](
	[PROCEDURE_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[PROCEDURE_DESCRIPTION] [varchar](50) NOT NULL,
	[PROCEDURE_COST] [numeric](10, 2) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[CREATED_BY] [numeric](10, 0) NOT NULL,
	[DATE_MODIFIED] [datetime] NULL,
	[MODIFIED_BY] [numeric](10, 0) NULL,
 CONSTRAINT [PK_PROCEDURE_ID_PROCEDURE] PRIMARY KEY CLUSTERED 
(
	[PROCEDURE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVIENCE]    Script Date: 12-04-2017 2:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVIENCE](
	[PROVIENCE_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[PROVIENCE_DESCRIPTION] [varchar](2) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[CREATED_BY] [numeric](10, 0) NOT NULL,
	[DATE_MODIFIED] [datetime] NULL,
	[MODIFIED_BY] [numeric](10, 0) NULL,
 CONSTRAINT [PK_PROVIENCE_ID_PROVIENCE] PRIMARY KEY CLUSTERED 
(
	[PROVIENCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[PATIENT_HISTORY_VIEW]    Script Date: 12-04-2017 2:43:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[PATIENT_HISTORY_VIEW]
AS 
SELECT PH.PATIENT_HISTORY_ID,
PH.PATIENT_ID,
UPPER(PAT.FIRSTNAME) +' '+UPPER(PAT.LASTNAME) AS "PATIENT_NAME",
(SELECT CONVERT(VARCHAR, PAT.DOB, 105)) AS "DOB",
PAT.CONTACT_NO,
PAT.EMAIL,
PAT.ADDRESS_LINE_1,
PAT.ADDRESS_LINE_2,
PAT.CITY,
PAT.POSTAL_CODE,
PAT.PROVIENCE_ID,
PRO.PROVIENCE_DESCRIPTION,
PH.APPOINTMENT_ID,
(SELECT CONVERT(VARCHAR,APPT.APPOINTMENT_DATE, 105)) AS "APPOINTMENT_DATE",
APPT.APPOINTMENT_TIME,
PH.DOCTOR_ID,
DOC.FIRSTNAME +' '+ DOC.LASTNAME AS "DOCTOR_NAME",
PH.PROCEDURE_ID,
PI.PROCEDURE_DESCRIPTION,
PI.PROCEDURE_COST,
PH.DATE_CREATED,
PH.CREATED_BY,
PH.DATE_MODIFIED,
PH.MODIFIED_BY,
PH.PAID FROM PATIENT_HISTORY PH
INNER JOIN APPOINTMENT APPT ON APPT.APPOINTMENT_ID=PH.APPOINTMENT_ID
INNER JOIN PATIENT PAT ON PAT.PATIENT_ID=PH.PATIENT_ID
INNER JOIN PROCEDURE_INFO PI ON PI.PROCEDURE_ID =PH.PROCEDURE_ID
INNER JOIN DOCTOR DOC ON DOC.DOCTOR_ID=PH.DOCTOR_ID
INNER JOIN PROVIENCE PRO ON PRO.PROVIENCE_ID=PAT.PROVIENCE_ID
WHERE PAID='N';

GO
SET IDENTITY_INSERT [dbo].[APPOINTMENT] ON 

INSERT [dbo].[APPOINTMENT] ([APPOINTMENT_ID], [PATIENT_ID], [DOCTOR_ID], [APPOINTMENT_DATE], [APPOINTMENT_TIME], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(N'2017-04-10' AS Date), N'2 PM', CAST(N'2017-04-07 19:27:34.977' AS DateTime), CAST(1 AS Numeric(10, 0)), NULL, NULL)
INSERT [dbo].[APPOINTMENT] ([APPOINTMENT_ID], [PATIENT_ID], [DOCTOR_ID], [APPOINTMENT_DATE], [APPOINTMENT_TIME], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(N'2017-04-25' AS Date), N'7 PM', CAST(N'2017-04-11 15:40:10.160' AS DateTime), CAST(1 AS Numeric(10, 0)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[APPOINTMENT] OFF
SET IDENTITY_INSERT [dbo].[DOCTOR] ON 

INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [FIRSTNAME], [LASTNAME], [ADDRESS_LINE_1], [ADDRESS_LINE_2], [CITY], [PROVIENCE_ID], [POSTAL_CODE], [EMAIL], [CONTACT_NO], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(1 AS Numeric(10, 0)), N'GOPI', N'VENKAT', N'45 SILVERSTONE', N'DRIVE', N'ETOBICOKE', CAST(1 AS Numeric(10, 0)), N'M9V 4B1', N'drcoolgopi1234@gmail.com', N'7894561234', CAST(N'2017-04-07 19:25:50.423' AS DateTime), CAST(3 AS Numeric(10, 0)), NULL, NULL)
INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [FIRSTNAME], [LASTNAME], [ADDRESS_LINE_1], [ADDRESS_LINE_2], [CITY], [PROVIENCE_ID], [POSTAL_CODE], [EMAIL], [CONTACT_NO], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(2 AS Numeric(10, 0)), N'ROZIL', N'REDHU', N'21 GOREROAD', NULL, N'BRAMPTON', CAST(1 AS Numeric(10, 0)), N'M7F 4C1', N'drrozilredhu@gmail.com', N'1472583698', CAST(N'2017-04-07 19:25:50.423' AS DateTime), CAST(3 AS Numeric(10, 0)), NULL, NULL)
INSERT [dbo].[DOCTOR] ([DOCTOR_ID], [FIRSTNAME], [LASTNAME], [ADDRESS_LINE_1], [ADDRESS_LINE_2], [CITY], [PROVIENCE_ID], [POSTAL_CODE], [EMAIL], [CONTACT_NO], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(3 AS Numeric(10, 0)), N'NIMRAN', N'KAUR', N'412 LYMNONT', N'ROAD', N'ETOBICOKE', CAST(1 AS Numeric(10, 0)), N'M9B 6M1', N'drnimrankaur@gmail.com', N'9638527415', CAST(N'2017-04-07 19:25:50.427' AS DateTime), CAST(3 AS Numeric(10, 0)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[DOCTOR] OFF
SET IDENTITY_INSERT [dbo].[LOGIN] ON 

INSERT [dbo].[LOGIN] ([LOGIN_ID], [USERNAME], [PASSWORD]) VALUES (CAST(1 AS Numeric(10, 0)), N'HARSH', N'harsh')
INSERT [dbo].[LOGIN] ([LOGIN_ID], [USERNAME], [PASSWORD]) VALUES (CAST(2 AS Numeric(10, 0)), N'SACHIN', N'sachin')
INSERT [dbo].[LOGIN] ([LOGIN_ID], [USERNAME], [PASSWORD]) VALUES (CAST(3 AS Numeric(10, 0)), N'SOAIB', N'soaib')
SET IDENTITY_INSERT [dbo].[LOGIN] OFF
SET IDENTITY_INSERT [dbo].[PATIENT] ON 

INSERT [dbo].[PATIENT] ([PATIENT_ID], [FIRSTNAME], [LASTNAME], [ADDRESS_LINE_1], [ADDRESS_LINE_2], [CITY], [PROVIENCE_ID], [POSTAL_CODE], [DOB], [EMAIL], [CONTACT_NO], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(1 AS Numeric(10, 0)), N'harsh', N'vardhan', N'21', N'Slane Court', N'Etobicoke', CAST(1 AS Numeric(10, 0)), N'M9V3X5', CAST(N'1991-11-27' AS Date), N'harsh.v2711@gmail.com', N'6479638531', CAST(N'2017-04-07 19:27:19.643' AS DateTime), CAST(1 AS Numeric(10, 0)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PATIENT] OFF
SET IDENTITY_INSERT [dbo].[PATIENT_HISTORY] ON 

INSERT [dbo].[PATIENT_HISTORY] ([PATIENT_HISTORY_ID], [PATIENT_ID], [APPOINTMENT_ID], [DOCTOR_ID], [PROCEDURE_ID], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY], [PAID]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(10 AS Numeric(10, 0)), CAST(N'2017-04-07 19:27:51.423' AS DateTime), CAST(1 AS Numeric(10, 0)), CAST(N'2017-04-12 14:29:05.310' AS DateTime), CAST(1 AS Numeric(10, 0)), N'Y')
INSERT [dbo].[PATIENT_HISTORY] ([PATIENT_HISTORY_ID], [PATIENT_ID], [APPOINTMENT_ID], [DOCTOR_ID], [PROCEDURE_ID], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY], [PAID]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(9 AS Numeric(10, 0)), CAST(N'2017-04-07 19:28:09.947' AS DateTime), CAST(1 AS Numeric(10, 0)), CAST(N'2017-04-12 14:29:05.310' AS DateTime), CAST(1 AS Numeric(10, 0)), N'Y')
INSERT [dbo].[PATIENT_HISTORY] ([PATIENT_HISTORY_ID], [PATIENT_ID], [APPOINTMENT_ID], [DOCTOR_ID], [PROCEDURE_ID], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY], [PAID]) VALUES (CAST(3 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(4 AS Numeric(10, 0)), CAST(N'2017-04-07 19:28:19.833' AS DateTime), CAST(1 AS Numeric(10, 0)), CAST(N'2017-04-12 14:29:05.310' AS DateTime), CAST(1 AS Numeric(10, 0)), N'Y')
SET IDENTITY_INSERT [dbo].[PATIENT_HISTORY] OFF
SET IDENTITY_INSERT [dbo].[PROCEDURE_INFO] ON 

INSERT [dbo].[PROCEDURE_INFO] ([PROCEDURE_ID], [PROCEDURE_DESCRIPTION], [PROCEDURE_COST], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(1 AS Numeric(10, 0)), N'Cardiac stress test', CAST(2500.00 AS Numeric(10, 2)), CAST(N'2017-04-07 19:25:10.497' AS DateTime), CAST(1 AS Numeric(10, 0)), NULL, NULL)
INSERT [dbo].[PROCEDURE_INFO] ([PROCEDURE_ID], [PROCEDURE_DESCRIPTION], [PROCEDURE_COST], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(2 AS Numeric(10, 0)), N'Endoscopy', CAST(3500.00 AS Numeric(10, 2)), CAST(N'2017-04-07 19:25:10.497' AS DateTime), CAST(1 AS Numeric(10, 0)), NULL, NULL)
INSERT [dbo].[PROCEDURE_INFO] ([PROCEDURE_ID], [PROCEDURE_DESCRIPTION], [PROCEDURE_COST], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(3 AS Numeric(10, 0)), N'Magnetoencephalography', CAST(1500.00 AS Numeric(10, 2)), CAST(N'2017-04-07 19:25:10.500' AS DateTime), CAST(1 AS Numeric(10, 0)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PROCEDURE_INFO] OFF
SET IDENTITY_INSERT [dbo].[PROVIENCE] ON 

INSERT [dbo].[PROVIENCE] ([PROVIENCE_ID], [PROVIENCE_DESCRIPTION], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(1 AS Numeric(10, 0)), N'ON', CAST(N'2017-04-07 19:25:45.340' AS DateTime), CAST(2 AS Numeric(10, 0)), NULL, NULL)
INSERT [dbo].[PROVIENCE] ([PROVIENCE_ID], [PROVIENCE_DESCRIPTION], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(2 AS Numeric(10, 0)), N'QC', CAST(N'2017-04-07 19:25:45.343' AS DateTime), CAST(2 AS Numeric(10, 0)), NULL, NULL)
INSERT [dbo].[PROVIENCE] ([PROVIENCE_ID], [PROVIENCE_DESCRIPTION], [DATE_CREATED], [CREATED_BY], [DATE_MODIFIED], [MODIFIED_BY]) VALUES (CAST(3 AS Numeric(10, 0)), N'NS', CAST(N'2017-04-07 19:25:45.343' AS DateTime), CAST(2 AS Numeric(10, 0)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PROVIENCE] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_PROC_DESC_PROCEDURE]    Script Date: 12-04-2017 2:43:50 PM ******/
ALTER TABLE [dbo].[PROCEDURE_INFO] ADD  CONSTRAINT [UN_PROC_DESC_PROCEDURE] UNIQUE NONCLUSTERED 
(
	[PROCEDURE_DESCRIPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_CREATED_BY_APPOINTMENT] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[LOGIN] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_CREATED_BY_APPOINTMENT]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_DOCTOR_ID_APPOINTMENT] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[DOCTOR] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_DOCTOR_ID_APPOINTMENT]
GO
ALTER TABLE [dbo].[APPOINTMENT]  WITH CHECK ADD  CONSTRAINT [FK_PATIENT_ID_APPOINTMENT] FOREIGN KEY([PATIENT_ID])
REFERENCES [dbo].[PATIENT] ([PATIENT_ID])
GO
ALTER TABLE [dbo].[APPOINTMENT] CHECK CONSTRAINT [FK_PATIENT_ID_APPOINTMENT]
GO
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK_CREATED_BY_DOCTOR] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[LOGIN] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [FK_CREATED_BY_DOCTOR]
GO
ALTER TABLE [dbo].[DOCTOR]  WITH CHECK ADD  CONSTRAINT [FK_PROVIENCE_ID_DOCTOR] FOREIGN KEY([PROVIENCE_ID])
REFERENCES [dbo].[PROVIENCE] ([PROVIENCE_ID])
GO
ALTER TABLE [dbo].[DOCTOR] CHECK CONSTRAINT [FK_PROVIENCE_ID_DOCTOR]
GO
ALTER TABLE [dbo].[PATIENT]  WITH CHECK ADD  CONSTRAINT [FK_CREATED_BY_PATIENT] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[LOGIN] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[PATIENT] CHECK CONSTRAINT [FK_CREATED_BY_PATIENT]
GO
ALTER TABLE [dbo].[PATIENT]  WITH CHECK ADD  CONSTRAINT [FK_PROVIENCE_ID_PATIENT] FOREIGN KEY([PROVIENCE_ID])
REFERENCES [dbo].[PROVIENCE] ([PROVIENCE_ID])
GO
ALTER TABLE [dbo].[PATIENT] CHECK CONSTRAINT [FK_PROVIENCE_ID_PATIENT]
GO
ALTER TABLE [dbo].[PATIENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_APPT_ID_PATIENT_HISTORY] FOREIGN KEY([APPOINTMENT_ID])
REFERENCES [dbo].[APPOINTMENT] ([APPOINTMENT_ID])
GO
ALTER TABLE [dbo].[PATIENT_HISTORY] CHECK CONSTRAINT [FK_APPT_ID_PATIENT_HISTORY]
GO
ALTER TABLE [dbo].[PATIENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_CREATED_BY_PATIENT_HISTORY] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[LOGIN] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[PATIENT_HISTORY] CHECK CONSTRAINT [FK_CREATED_BY_PATIENT_HISTORY]
GO
ALTER TABLE [dbo].[PATIENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_DOC_ID_PATIENT_HISTORY] FOREIGN KEY([DOCTOR_ID])
REFERENCES [dbo].[DOCTOR] ([DOCTOR_ID])
GO
ALTER TABLE [dbo].[PATIENT_HISTORY] CHECK CONSTRAINT [FK_DOC_ID_PATIENT_HISTORY]
GO
ALTER TABLE [dbo].[PATIENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_PAT_ID_PATIENT_HISTORY] FOREIGN KEY([PATIENT_ID])
REFERENCES [dbo].[PATIENT] ([PATIENT_ID])
GO
ALTER TABLE [dbo].[PATIENT_HISTORY] CHECK CONSTRAINT [FK_PAT_ID_PATIENT_HISTORY]
GO
ALTER TABLE [dbo].[PATIENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_PROC_ID_PATIENT_HISTORY] FOREIGN KEY([PROCEDURE_ID])
REFERENCES [dbo].[PROCEDURE_INFO] ([PROCEDURE_ID])
GO
ALTER TABLE [dbo].[PATIENT_HISTORY] CHECK CONSTRAINT [FK_PROC_ID_PATIENT_HISTORY]
GO
ALTER TABLE [dbo].[PROCEDURE_INFO]  WITH CHECK ADD  CONSTRAINT [FK_CREATED_BY_PROCEDURE] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[LOGIN] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[PROCEDURE_INFO] CHECK CONSTRAINT [FK_CREATED_BY_PROCEDURE]
GO
ALTER TABLE [dbo].[PATIENT_HISTORY]  WITH CHECK ADD  CONSTRAINT [CK_PAID_PATIENT_HISTORY] CHECK  (([PAID]='Y' OR [PAID]='N'))
GO
ALTER TABLE [dbo].[PATIENT_HISTORY] CHECK CONSTRAINT [CK_PAID_PATIENT_HISTORY]
GO
